{% extends 'base.html' %}
{% load remaining_time %}
{% block title %}{{ object.title }}{% endblock title %}
{% load filter_title %}
{% block content %}
    <br/>
    <div class="task">
        <h2>{{ task.title | capital_title }}</h2>
        <p>category :
            {% for ctg in object.set_category%}
                {{ ctg }} |
            {% endfor %}
        </p>

        <p>priority : {{ object.priority }}</p>
        <p>expired : {{ object.expired }}</p>
        <p>description : {{ object.description }}</p>
        <p>deadline : {% my_tag object.expired %} </p>
    </div>
    <a class="btn btn-primary " href="{% url 'task_update' task.pk %}" role="button">Edit Task</a>
    <a class="btn btn-primary " href="{% url 'task_list' %}" role="button">All Tasks</a>
{% endblock content %}