{% extends 'base.html' %}
{% block title %}Tasks{% endblock title %}
{% load filter_title %}

{% block content %}
    <h1 class="p-3">Tasks</h1>
    {% for task in object_list %}
        {% if task  not in task.due_task %}
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold"><a href="{% url 'task_detail' task.pk %}"
                                                      class="data">{{ task.title | capital_title }}<br></a></span>
                    <span class="text-muted">{{ task.category }} |
                        {{ task.expired }}</span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <h1 class="p-3">Due Tasks</h1>
    {% for task in object_list %}
        {% if task  in task.due_task %}
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold"><a href="{% url 'task_detail' task.pk %}"
                                                      class="data">{{ task.title | capital_title }}<br></a></span>
                    <span class="text-muted">{{ task.category }} |
                        {{ task.expired }}</span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <br/>
    <a href="{% url 'task' %}" class="data">
        <button class="btn btn-primary ml-2" type="submit" id="button-addon">View All Task by Format Json</button>
    </a>
{% endblock content %}